{% block rowOverviewItem %}
    <tr class="table-row">
        <td class="table-cell"></td>
        <td class="table-cell -left-space">
            <p class="title -m">{{ overviewItem['overviewItemLabel'] }}</p>
            <p class="text">{{ overviewItem['overviewItemValue'] }}</p>
        </td>
    </tr>
{% endblock %}
