{% block rowOverviewNetworkProfile %}
    <tr class="table-row">
        <td class="table-cell"></td>
        <td class="table-cell -left-space">
            <p class="title -m">{{ profile['basicProfilesNetwork'] }}</p>
            <a class="text" href="{{ profile['basicProfilesUrl'] }}">{{ profile['basicProfilesUsername'] }}</a>
        </td>
    </tr>
{% endblock %}
