{% block rowSkillKeyword %}
    <tr class="table-row">
        <td class="table-cell -min-small"></td>
        <td class="table-cell -full">
            <p class="text -xl">{{ keyword['skillKeywordLabel'] }}</p>
        </td>
        <td class="table-cell">
            <p class="text">{{ keyword['skillKeywordExperienceInYears'] }}</p>
        </td>
        <td class="table-cell">
            <p class="text">{{ keyword['skillKeywordLevel'] }}</p>
        </td>
    </tr>
{% endblock %}
