# Directories
assets/
coverage/
var/
vendor/

# Files
.env*
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
symfony.lock

###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
###< symfony/framework-bundle ###
